
<div class="container">
    <mat-card-title>Home</mat-card-title>
    <br><br>
    <mat-card-subtitle>Seja bem vindo!</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>

    <div class="botoes-container">
        <a mat-raised-button color="primary" class="btn" routerLink="/curso">
            Cursos
        </a>
        <a mat-raised-button color="primary" class="btn" routerLink="/aluno">
            Alunos
        </a>
    </div>

    <br>
    <img class="img-central" src="sistema-escolar.png">
</div>